//Extra small screens
@media(max-width: 350px) {
  .profile-text {
    text-align: justify;
    padding: 20px 0px 0px 0px;
    margin: 0 auto;
    width: 280px;
  }
  #ft-logo {
    height: 6em;
    max-width: 50%;
  }
  #line-container {
    visibility: hidden;
  }
  .project-text {
    padding-right: 20px;
    padding-left: 10px;
  }
}

@media (max-width: 40em) {
  #sect-1,
  #sect-2,
  #sect-3,
  #sect-4 {
    border-right: 0px;
  }
  .circle-container {
    visibility: hidden;
  }
  .project-card {
    margin-bottom: 30px;
  }
  .project-text {
    text-align: center;
  }
}

//Medium Screen Sizes
@media (max-width: 64em) and (min-width: 40.063em) {}